<html>

<body>
    {% if a > b and a > c and a > d %}
    <h1 style="text-align: center;background-color: beige;">A is Big value </h1>
    {% elif b > a and b > c and b > d %}
    <h1 style="text-align: center;background-color: beige;">B is Big value </h1>
    {% elif c > a and c > b and c > d %}
    <h1 style="text-align: center;background-color: beige;">C is Big value </h1>
    {% else %}
    <h1 style="text-align: center;background-color: beige;">D is Big value </h1>
    {% endif %}


</body>

</html>