<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
<body>
    <div class="container" style="width:45%">
        <table class="table table-stripped table-bordered">
            <h1 style="text-align: center;background-color: green;">DeptDetails</h1>
            <thead>
                <tr class="active">
                    <th>DeptNo</th>
                    <th>Deptname</th>
                </tr>

            <tbody>
                {% for x in dept %}
                <tr>
                    <td>{{x.DeptNo}}</td>
                    <td>{{x.Deptname}}</td>

                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
</body>
</html>