<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
</head>

<body>
    <form method="post" action="{% url 'form_submit' %}">
        {% csrf_token %} 
    <div class="container" style="width: 40%; text-align: center; background-color: goldenrod;">
            <label class="control-label">username</label> 
            <br>
            <input type="text" class="form-control" name="uname" />
            <br>
            <label class="control-label">password</label>
             <br>
            <input type="text" class="form-control" name="pwd" />
            <br>
            <input type="submit" class="btn btn-success" value="login">
    </div>
    </form>
</body>

</html>