<html>
    <head>

    </head>
    <body>
        <ul style="padding:10px;background-color: blue; text-align: center; list-style-type: none;">
            <h1>Regular code  Example</h1>
            {% for x in arr %}
            <li>{{ x }}</li>
            {% endfor %}

        </ul>
        <hr>
        <ul style="padding:10px;background-color: blue; text-align: center;list-style-type: none;">
            <h1>Reverse Keyword Example</h1>
            {% for x in arr reversed %}
            <li>{{ x }}</li>
            {% endfor %}

        </ul>
    </body>
</html>