<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    </head>
    <body>
        <div class="container" style="width: 40%;"                                                                                >
            <h1 style="text-align: center;background-color: lightcoral;">
            <a href="/empDetails">EmpDetails</a>
            </h1>
            <h1 style="text-align: center;background-color: lightcoral;">
                <a href="/productDetails">ProductDetails</a>
            </h1>
            <h1 style="text-align: center;background-color: lightcoral;">
                <a href="/deptDetails">DeptDetails</a>
            </h1>
        
        </div>

            <h1><a href="/login">Login</a></h1>
    </body>
</html>