<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
    </head>
    <body>
      <div class ="container">
        <table class="table table-bordered">
            <thead>
                <tr class="active">
                    <th>Eid</th>
                    <th>Ename</th>
                    <th>Esal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{eid}}</td>
                    <td>{{ename}}</td>
                    <td>{{esal}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </body>
</html>